  .products{
    margin-left: 22vw;
    width: 75vw;
    height: 200vw;
    transform: 0.5s;
    position: relative;
    transition: 0.5s;
    transition: width 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: width;  
    
  }
  .card {

    width: 22vw;
    height: 28vw;
    margin: 5px;
    border-bottom: 2px solid  rgb(194, 15, 15);
    border-top: 2px solid  rgb(194, 15, 15);
    border-radius: 0;
    display: flex;
    float: left;
    align-items: center;
    justify-content:center;
    padding: 12px;    
    position: relative;
    transition: 0.5s;
    transition: width 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: width;   
  }
  .gender{
    display: flex;
    letter-spacing: 0.8px;
    color:#504B4B;
    font-family: "Montserrat",sans-serif;
    margin-bottom: 8px;
    text-transform: capitalize;
    text-rendering: geometricPrecision;
    font-size: 13px;
    
  }

  .addcart{
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(58, 58, 58);
    font-size: 1.2vw;
    font-style: normal;
    padding: 2px;
    cursor: pointer;
    width: 100%;

  }
  button:hover{
    transition: 0.5s;
    background-color: rgb(194, 15, 15);
    color: aliceblue;
  }
  
  .title{
    
    font-size: 20px;
    color: #000;
    font-weight: 500;
    line-height: 18px;
    min-height: 38px;
    margin-bottom: 12px;
    text-transform: capitalize;
    letter-spacing: 0.8px;
  }
  .price{
    display: flex;
    letter-spacing: 0.8px;
    color:#000;
    font-family: "Montserrat",sans-serif;
    margin-bottom: 8px;
    text-transform: capitalize;
    text-rendering: geometricPrecision;
    font-size: 15px;
    letter-spacing: 3px;
    text-align: left;
    

  }
  span, p, b{
    font-family: "Montserrat",sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
  }
  .productImg {
    border-radius: 5px 5px 0 0;
    width: 80%;
    height: auto;
    float: left;
    opacity: 1;
    transform: translateY(0);
    background-color: #F5F3F3;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    transition: 0.5s;

  }

/*////////////////////////////// filtro //////////////////////////////*/
.dropdown {
  position: relative;
}

.dropdown-toggle {
  background-color: #28a745;
  color: #fff;
  border: none;
}

.dropdown-menu {
  background-color: #f8f9fa;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item button {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 8px 16px;
  cursor: pointer;
}

.size-buttons, .btn-primary{
  background-color: #000000;
  color: #fff;
  border-radius: 0px;
  border: none;
  width: 20vw;
  margin-bottom: 5px ;
  display: flex;
  gap: 10px;
  padding: 8px 16px;
  cursor: pointer;
  --bs-btn-color: #000000;
  justify-content: center;
  align-items: center;
}

.reset-button {
  background-color: #dc3545;
}

/* Estilos para el botón de "Filtros" */
.filter-toggle {
background-color: #a73128;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s, transform 0.2s;
}

.filter-toggle:hover {
background-color: #218838;
transform: scale(1.05);
}

/* Estilos para las opciones de subcategoría */
.subcategory-options {
display: none;
position: absolute;
top: 100%;
left: 0;
background-color: #f8f9fa;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 4px;
padding: 10px;
}


.subcategory-options button {
background: #fff;
border-radius: 0 ; 
margin: 5px 0;
cursor: pointer;
font-size: 14px;
color: #333;
transition: color 0.3s;
}

.subcategory-options button:hover {
color: #007bff;
}

/* Estilos para los botones de tamaño */
.item-filter{
  border-radius: 0;
}


section button:last-child {
margin-right: 0;
}

section button:hover {
background-color: #000000;
transform: scale(1.05);
}

/* Agrega este estilo en tu archivo CSS o en línea */

.vertical-buttons {

left: 0;
top: 50%;
width: 20vw;

display: flex;
flex-direction: column;
}

.vertical-buttons button {
width: 100%;
border-radius: 0px;
margin-bottom: 5px;
}
/* filters */

.filterSection{
  width: 0vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


@media screen and (max-width: 600px) {
  .card,.price{
    width: 55vw;
    height: 50vw;
    font-size: 100%;
  }
}
@media screen and (max-width: 600px) {
  
  .products{
    margin-left: 20vw;
    width: 65vw;
    height: 100%;
    font-size: 100%;
  }
  .productImg{
    max-width: 20vw;
  }
}

aside{
  width: 23vw;
  height: 100%;
  top: 300px;
  position: absolute;
  display:list-item;
  transition: 0.5s ease-in-out;
}