.CarruselLocation{
width:100%;
height: 50px;

border-radius: 0px;  


}

.carousel-item{
    width: 100%;
    height: 30vw;
}
.item{
    width: 100% !important;
    height: 100% !important;
}
button.carousel-control-prev{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
button.carousel-control-next
{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}