*{
    font-family: "Poppins";
}

.Carrousel{
    width:100%;
    height: 500px ;
    
}
.item{

    width: 100% ;
    height: 500px ;
    border: none;
    outline: none;
    cursor: pointer;
}
.carruselImg{

    width: 100%;
    height: 500px ;

}
.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    height: 500px ;
}
.slider-wrapper{
    max-height: 20%;
}
.slide.selected{
    display: flex;
    width: 100%;
    height: 500px ;
}
