.productsHighlist {
    width: 100%;
    height: 100%;
}

.CardHighList {
    width: 26rem;
    display: flex;
    border: none;
    border-radius: 0;
    float: left;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.highList {
    font-family: "PoppinsExtraBold";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.5s;
    color: #DA1212;
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: normal;
    position: relative;
    text-align: left;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-top: 20px;
    padding: 20px 0 30px 10px;
    background-image: url(https://bocashop.vteximg.com.br/arquivos/background-carousel.png?v=637316413110230000);
    background-repeat: no-repeat;
    background-position-x: 99.8%;
    background-position-y: center;
    background-size: 96px;
    margin: 10px;
}

.highList-Strong {
    padding-left: 2rem;
}
.recommended{
    font-size: 20px;
}
.productImgHighList {
    width: 100%;
    height: 100%;
    padding: 0.5px;
    opacity: 1;
    transform: translateY(0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.LinkConteiner {
    margin: 5px;
    box-shadow: 0 0.5px 0.5rem -4px #000;
    text-decoration: none;
    color: #000;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
    transition: all 250ms ease-in-out;

}

.LinkConteiner:hover {
    text-decoration: none;
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);
}

.genderContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.5s;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.5s;
    padding-top: 1rem;
}

.price {
    font-family: "Poppins";
    font-size: 10px;
    line-height: 18px;

}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.5s;
}

.price-highlist {
    color: #585858;
    margin-bottom: 8px;
    letter-spacing: 3px;
    font-family: "PoppinsExtraBold";
    font-size: 25px;
    line-height: 18px;
}

.title-highlist {
    letter-spacing: 2px;
    font-size: 15px;
}

b.gender {

    letter-spacing: 2px;
    font-size: 15px;
}

a.LinkConteiner {
    padding: 0 0 0 0px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.5s;
    padding: 10px;
}

.max-w-6xl.highlist_container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0px;
    flex-direction: row;
    transition: 0.5s;
}

.header_productHighlist--container {
    background: linear-gradient(75deg, rgba(250, 250, 250, 0) 30%, rgba(221, 0, 0, 1) 40%);
    padding: 2rem;
    margin-bottom: 1rem;
}

@media screen and (max-width:620px) {
    .header_productHighlist--container {
        background: linear-gradient(75deg, rgba(250, 250, 250, 0) 50%, rgba(221, 0, 0, 1) 80%);
        padding: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .recommended{
        font-size: 16px;
    }
}