
h1{
    font-family: "Poppins";
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.8px;
    color: #101010;
}
span{
    font-family: "PoppinsExtraBold";
    color: #1a1a1a;
    font-size: 30px;
    letter-spacing: 0.8px;
}
b{
    font-family:"PoppinsExtraLight";
    color: rgb(173, 173, 173);
    font-size: 20px;
}

span.richtext-gray-regular{
    font-family: "PoppinsMedium";
    color:rgba(0,0,0,.55);
    font-size: 1rem;

}
span.richtext-black{
    font-family: "PoppinsMedium";
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}
span.richtext-gray-regular#totalPricexProduct{
    color: #101010;
}