
h1{
    font-family: "Poppins";
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.8px;
    color: #101010;
}
span{
    font-family: "PoppinsExtraBold";
    color: rgb(46, 46, 46);
    font-size: 30px;
    letter-spacing: 0.8px;
}
b{
    font-family:"PoppinsExtraLight";
    color: rgb(173, 173, 173);
    font-size: 20px;
}