.separator{
    width: 100%;
    height: 200px;

}

.navItem{

    display: flex;
    color: #101010;
    padding: 12px 20px;
    justify-content: space-between;     
    align-self: center;
    float: left;
    text-align: center;                                                                                                
    text-decoration:dotted;
    font-size: 22px;
    font-weight:300;
    transition: 0.5s;
    line-height: 40px;
    text-decoration: none;
    letter-spacing: 0.82px;
    
}

a:hover {
    transition: 0.5s;   

    color: #df0000d3;    background-color: #ffffff;

}
#a:hover{
    border-bottom:2px solid #df0000d3;
    color: #df0000d3;
    background-color: #ffffff;
    transition: 0.5s;
}

.navbarContent{
    width: 100%;
    height: 100%;
    position: sticky !important;
    top: -17.5% !important;
    z-index: 999 !important;
}
.nav{
    border-top:0.52px solid #d6d6d6;
    width: 100%;
    height: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

}

.CategoryNavbar {

    transition-delay: 5s;
    width: 100%;
    height: 70%;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    text-align: center;



}
.topnav{
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0px;
    margin-top: 20px;
    text-align: center;
    

}

 .icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

a .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.topnav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: dotted;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.topnav li a:hover {
    background-color: #ddd;
    color: black;
}



.topnav li.right {
    float: right;
    border-right: 2px solid #333;
}


.topnav li a .img {
    width: 20px;
    object-fit: cover;
}



.logo{
    border-radius: 5px 5px 0 0;
    max-width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    transition: 0.5s;
}
.logo:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.containerLogo{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.containerNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65%;
    padding: 0 0 0 0px;
}
.containerItems{
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}
.items{
    max-width: 3vw;
    height: 3vw;
    margin: 0 2vw;
    transition: 0.5s;
}
.buttonItem#center{

    border-left: 1px solid rgb(102, 102, 102);
    border-right: 1px solid rgb(102, 102, 102);

}
button.buttonItem{
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
    width: 100%;
    height: 40px;
}
.buttonItem:hover{
    transition: 0.5s;
    transform: scale(1.1);

}

@media screen and (max-width: 950px) {
    .topnav,
    .navbarContent,
    .topnav li.right,
    .topnav li ,    .items,
    .containerLogo,
    .CategoryNavbar,.nav-item,
    .navItem,
    .buttonItem,
    .buttonItem#center{
        transition: 0.5s;
        transform: translateY(-3);
    }
    .logo{
        max-width: 30vw;
    }
    .navItem{
        font-size: 14px;
    }
    .items{
        max-width: 5vw;
        height: 5vw;
    }
}
@media screen and (max-width:770px) {
    .CategoryNavbar,.nav ,.navItem{
        display:none ;
        
    }
    .navbarContent, .topnav{
        height: 80px;
    }
    .topnav,
    .navbarContent,
    .topnav li.right,
    .topnav li ,
    .logo,
    .items,
    .containerLogo,
    .nav-item,
    .buttonItem,
    .buttonItem#center{
        transition: 0.5s;
        transform: translateY(-3);
    }
}