.navItem {

    display: flex;
    color: #101010;
    text-decoration: dotted;
    font-weight: 300;
    transition: 0.5s;
    line-height: 40px;
    text-decoration: none;
    letter-spacing: 0.82px;

}
.serachbox_cotainer.disabled {
    display: none;
}

.enabled {
    display: flex;
}
a {
    padding: 2px 16px;
}

a:hover {
    transition: 0.5s;
    color: #df0000d3;
    background-color: #ffffff;


}

#a {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

#a:hover {
    border-bottom: 2px solid #df0000d3;
    color: #df0000d3;
    background-color: #f3f3f3;
    transition: 0.5s ease-in-out;
}

.navbarContent {
    width: 100%;
    height: 80px;
    z-index: 999 !important;

}

.nav-bottom_categories {
    width: 100%;
    height: 100%;
    transition-delay: 5s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    text-align: center;
    position: sticky;
    top: 0 !important;
    z-index: 998;
    background-color: #ffffff;
}

.CategoryNavbar {
    width: 100%;
    height: 45px;
    transition-delay: 5s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.topnav {
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0px;
    text-align: center;
    display: flex;
    padding: 0 50px;
    align-items: center;
    border-bottom: 1px solid #DA1212;
}

.icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1px;
    height: 100%;
    position: relative;
    cursor: pointer;
}

a .img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}



.topnav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: dotted;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.topnav li a:hover {
    background-color: #ddd;
    color: black;
}



.topnav li.right {
    float: right;
    border-right: 2px solid #333;
}


.topnav li a .img {
    width: 20px;
    object-fit: cover;
}



.logo {
    max-width: 200px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    transition: 0.5s;
}

.logo:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.cartContainer {
    display: flex;
    flex-direction: row;
}

.containerLogo {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.containerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65%;
    padding: 0 0 0 0px;
    overflow: hidden;
}

.containerItems {
    height: 30px;
    width: 40%;
    position: relative;
    display: flex;
    justify-content: right;
    margin-left: auto;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 13px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.buttonItem {
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
    height: auto;
    z-index: 20;
    box-sizing: border-box;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;

    word-wrap: break-word;
}


.buttonItem#center {

    border-left: 1px solid rgb(102, 102, 102);
    border-right: 1px solid rgb(102, 102, 102);

}


.buttonItem:hover {

    border: none;
    box-shadow: #12121200 2px 0 0 2px, transparent 0 0 0 2px;
}



.buttonItem:focus {
    outline: 1px transparent;
}

.buttonItem:before {
    display: none;
}

.buttonItem:-webkit-details-marker {
    display: none;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;

}

.responsive_logo.disabled {
    display: none;
}

.responsive_logo {
    display: flex;

    width: 100%;
    height: 100%;
}

.responsive_logo.enabled {
    display: flex;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-background#open {
    display: flex;
}

.aside_nav--left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background-color: #f8f9fa;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1000;

    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.aside_nav--left#open {
    transform: translateX(0);
}


.nothing-aside {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    padding: 0px;
    margin-bottom: 20px;
}

.svg-icon-aside {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.aside_nav--left__container {
    display: flex;
    flex-direction: column;
}

.aside_nav-category {
    list-style: none;
    margin-bottom: 10px;
}

.navItem-aside {
    color: #333;
    text-decoration: none;
    width: 100%;
    text-align: left !important;
}

.navItem-aside:hover {
    color: #007bff;
}

.hamburguer-logo__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.searchBar {
    padding: 0px 0px 0px 0px;
}

.searchInput {
    border: none;
    border-bottom: 1px solid black;
    width: 250px;
    font-family: "PoppinsItalic";
    transition: 333ms all;
}
.searchInput:focus{
    outline: none;
    box-shadow: none;
   border-bottom:1px solid #007bff;
   transition: 333ms all;
}

.logo.aside {
    margin-bottom: 20px;
}

.userContainer {
    display: flex;
    flex-direction: row;

}

.rich-text.usertext {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 1.45;
    margin: 0;
    font-weight: 500;
    text-align: center;
    color: #101010;
}

.cartItemsQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #df0000d3;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.45;
    margin: 0;
    text-align: center;
    font-family: "Poppins";
}

.absoluteCartQuantity {
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 30px;
}


.serachBar__Form-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.serachbox_cotainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;

}

@media screen and (max-width: 950px) {

    .navItem {
        font-size: 14px;
    }

}

@media screen and (max-width:770px) {

    .navbarContent,
    .topnav {
        height: 80px;
    }

    .logo {
        max-width: 125px;
    }

    .topnav,
    .navbarContent,
    .containerLogo {
        transition: 0.5s;
        padding: 0px;
    }

    .containerItems {
        width: 100%;
    }

    a.nothing#responsive__set {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width:620px) {
    .serachbox_cotainer.disabled,.disabled{
        display: flex;
    }
    .enabled,
    .CategoryNavbar{
        display: none;

    }

    .responsive_logo.disabled {
        display: flex;
        gap: 1rem;
    }

    .responsive_logo.enabled {
        display: none;
    }

    .responsive_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .aside_nav--left {
        border-right: 4px solid #11468F;
    }

    .nothing-aside-logo {
        background-color: transparent !important;
        padding: 0px;

    }
}