.separator{
    width: 100%;
    height: 200px;

}

.navItem{

    display: flex;
    color: #101010;
    padding: 12px 20px;
    justify-content: space-between;     
    align-self: center;
    float: left;
    text-align: center;                                                                                                
    text-decoration:dotted;
    font-size: 22px;
    font-weight:300;
    transition: 0.5s;
    line-height: 40px;
    text-decoration: none;
    letter-spacing: 0.82px;
    
}

a:hover {
    transition: 0.5s;   

    color: #df0000d3;    background-color: #ffffff;

}
#a:hover{
    border-bottom:2px solid #df0000d3;
    color: #df0000d3;
    background-color: #ffffff;
    transition: 0.5s;
}

.navbarContent{
    width: 100%;
    height: 200px;
    position: sticky;
    top: -140px;
    z-index: 999 !important;
}
ul.nav{
    border-top:0.52px solid #ffffff;
    width: 100%;
    padding: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

}

.CategoryNavbar {
    transition-delay: 0.5s;
    width: 100%;
    height: 80px;
    display: flex;
    margin: 0;
    background-color: #ffffffd0;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 25px 10px;
    z-index: 999 !important;
    position: sticky;
    top:0;

}
.topnav{
    width: 100%;
    height: 178px;
    z-index: 1;
    padding: 0px;
    margin-top: 20px;
    text-align: center;
    

}

ul .icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

a .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



ul.topnav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: dotted;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

ul.topnav li a:hover {
    background-color: #ddd;
    color: black;
}



ul.topnav li.right {
    float: right;
    border-right: 2px solid #333;
}


ul.topnav li a .img {
    width: 20px;
    object-fit: cover;
}



.logo{
    border-radius: 5px 5px 0 0;
    max-width: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    transition: 0.5s;
}
.logo:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.containerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerNav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65%;
    padding: 0 0 0 0px;
}
.containerItems{
    height: 30px;
    width: 33%;
    position: relative;
    display: flex;
    justify-content: right;
    margin-left: auto;
    align-items: center;
}
.items{
    max-width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: 0.5s;
}
button#center{
    border-left: 1px solid rgb(102, 102, 102);
    border-right: 1px solid rgb(102, 102, 102);

}
button.buttonItem{
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
    width: 200px;
    height: 60px;
}
.buttonItem:hover{
    transition: 0.5s;
    transform: scale(1.1);
    background-color: #ba0505;
    width: 80%;

}

@media screen and (max-width: 950px) {
    .topnav,
    .navbarContent,
    ul.topnav li.right,
    ul.topnav li ,    .items,
    .containerLogo,
    .CategoryNavbar,.nav-item,
    .navItem,
    .buttonItem{
        transition: 0.5s;
        transform: translateY(-3);
    }
    .logo{
        max-width: 200px;
    }
    .navItem{
        font-size: 14px;
    }
}
@media screen and (max-width:770px) {
    .CategoryNavbar,.nav ,.navItem{
        display:none ;
        
    }
    .navbarContent, .topnav{
        height: 80px;
    }
    .topnav,
    .navbarContent,
    ul.topnav li.right,
    ul.topnav li ,
    .logo,
    .items,
    .containerLogo,
    .nav-item,
    .buttonItem{
        transition: 0.5s;
        transform: translateY(-3);
    }
}