

.ProductDetailContainer{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;

    padding: 0 10%;
    margin-top: 5%;
    margin-bottom: 5%;

}
.ProductDetail{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction:row;
}
.ProductImages{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ProductInfo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    float: left;

}
.ProductInfoTitle{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.ProductInfoPrice{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}
.ProductReference{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.ProductDescription{
    width: 100%;
    height: 100%;
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.ProductInfoSize{
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
h1.DescriptionProduct{
    display: flex;    
    align-items: center;
    justify-content: flex-start;

}

h3.sizeTitle{
display: flex;
align-items: flex-start;
justify-content: flex-start;
}
.ProductSizeItem{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.sizeCircle{
    width: 100%;
    height: 100%;
    border-radius: 20%;
    border: 20px red;
}