.recommended_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1%;
}
.rich-text.price{
    font-family: "Poppins";
    font-size: 1.8rem !important;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    width: 100%;
    margin: 0 0 0.5rem;
    color: #000;
    text-align: center;
}
.ProductDetailContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    padding: 0 5%;
    margin-top: 5%;

}
.ProductDetail{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction:row;
}
.ProductImages{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.asideImages{
    width: 20%;
    height: 100%;
    padding: 0 2% 0 2%; 
    display: flex;
    float: left;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-evenly;
}
img.asideImage{
    width: 80px;
    height: 80px;
    float: left;
    opacity: 1;
    transform: translateY(0);
}
.MainImage{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ProductInfo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 0 20px;
    float: left;

}
.ProductInfoTitle{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.ProductInfoPrice{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}
.ProductReference{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.ProductDescription{
    width: 100%;
    height: 100%;
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.ProductInfoSize{
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.DescriptionProduct{
    font-size: 700;
}
h1.DescriptionProduct{
    display: flex;    
    align-items: center;
    justify-content: flex-start;

}

.ProductSizeItem{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.SizeItems{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.sizeCircle{
    display:flex;
    background-color: #fff;
    vertical-align: center;
    font-weight: 400;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 100%;
    margin: 0 10px 10px 0;
    cursor: pointer;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    width: 60px;
    height: 60px;
    line-height: 50px;
    position: relative;
    border: 1px solid #eee;
    color: #222222;
    font-family: "Poppins";
}
.sizeCircleNoStock{
    display:flex;
    background-color: rgb(237, 237, 237);
    font-size: 13px;
    vertical-align: baseline;
    font-weight: 400;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 100%;
    margin: 0 10px 10px 0;
    cursor:not-allowed;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    width: 60px;
    height: 60px;
    line-height: 50px;
    position: relative;
    border: 1px solid #eee;
}



input[type=radio]{

    width: 60px;
    height: 60px;
    opacity: 0;
    z-index: 5;
    cursor: pointer;    
    position: absolute;
}
input[type=radio]+ .sizeCircle{
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;

    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}
.itemSize:hover + .sizeCircle{
    transition: 0.3s all;
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
    
}
input[type=radio]:checked+ .sizeCircle{
    border: 1px solid #c00000;
    color: #c00000;

}

.andres-button#addCartButton{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=number]{
    z-index: 1;
    border: none;
    font-size: 12px;
    text-align: start;
    border-radius: 0;
    background-color: #ffffff;
    float: left;
}
.StockProductxSizeNumber{

    z-index: 1;
    display: inline-flex !important;
    box-shadow: none;
    flex-direction: row;
    font-size: 12px;
    width:50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 0;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
}


.subsButton{
      align-items: center;
      background-color: #fff;
      box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
      box-sizing: border-box;
      color: #121212;
      cursor: pointer;
      display: inline-flex;
      flex: 1 1 auto;
      font-family: Inter,sans-serif;
      font-size: 1.2rem;
      font-weight: 700;
      justify-content: center;
      line-height: 1;
      height: 100%;
      margin: 0;
      outline: none;
      padding: 1rem 1.2rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow .2s,-webkit-box-shadow .2s;
      white-space: nowrap;
      border: 0;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .subsButton:hover {
      box-shadow: #121212 0 0 0 1px, transparent 0 0 0 0;
    }
    .subsButton#input{
        border: 0px ;
        height: 100%;
        box-shadow: none;
    }
.addCartButton{
    align-items: center;
    background-color: #fff;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.addCartButton:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  }
  .mainImage-resolution{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

@media screen and (max-width: 950px) {
    .ProductDetailContainer{
        padding: 0 5%;
    }
    .ProductDetail{
        flex-direction: column;
    }
    .asideImages{
        width: 100%;
        height: 20%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .MainImage{
        width: 100%;
        height: 50%;
    }
    .ProductInfo{
        width: 100%;
        height: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items:center;
    
        float: left;
        padding: 0 20px;
    
    }
    .ProductInfoTitle{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .ProductInfoPrice{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    
    }
    .ProductReference{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .ProductDescription{
        width: 100%;
        height: 100%;
        display: flex;
        
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
    }
    .ProductInfoSize{
        width: 100%;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    
    }
    h1.DescriptionProduct{
        display: flex;    
        align-items: center;
        justify-content: flex-start;
    
    }
    
    h3.sizeTitle{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    }
    .ProductSizeItem{
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .sizeCircle{
        width: 100%;
        height: 100%;
        border-radius: 20%;
        border: 20px red;
        
    }
}
