.App{
  font-size: larger;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 1vw;
}
head {margin:0;}
body {margin:0;}

.main{
  margin-top: 20px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  
}


a { 
  float: left;
  display: block;
  color: #333;

  padding: 14px 16px;
  text-decoration: none;
  text-decoration:dotted;
}

a:hover {
  background-color: #bdbdbd6e;
}
.navbarContent{

}
.navbar{
  padding:0px;margin-top:20px;
  text-align: center;
}

ul .icons{
  display:flex;
  align-items:flex-start;
  justify-content: flex-end;
}
a .img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

body {margin: 0; z-index: -1;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: #ffffffe1;
  border-bottom: black 0.5px solid;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;

}


ul.topnav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: dotted;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

ul.topnav li a:hover{background-color: #64646471;}



ul.topnav li.right { float: right; border-right: 2px solid #333;}
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


ul.topnav li a .img{
  width: 20px;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .main{
    width: 100%;
    height: auto;
  }
}


.main{padding:20px;margin-top:60px;width: 200vw; height:1000vw; background-color: #333;}


