.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.tilte{
  color: var(--carbon-800, #3C3C43);
font-size: 32px;
font-family: Inter;
font-style: normal;
font-weight: 700;
line-height: 100%;
}
