a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration:dotted;
    font-family:sans-serif;
    font-size: 18px;
    font-weight:500;
    transition: 0.5s;
}

a:hover {
    transition: 0.5s;
    background-color: #8181816e;
    color: #df0000d3;
}

.navbarContent{
    width: 100%;
    height: 100px;

}
ul.nav{
    width: auto;
    border-top:2px solid #8b8b8b; ;
    z-index: 5;
    width: 80%;
    padding: 0px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar {
    overflow: hidden;
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: #ffffff;
    float: inline-start;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.topnav{

    z-index: 1;
    padding: 0px;
    margin-top: 20px;
    text-align: center;
    

}

ul .icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

a .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



ul.topnav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: dotted;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

ul.topnav li a:hover {
    background-color: #64646471;
}



ul.topnav li.right {
    float: right;
    border-right: 2px solid #333;
}

@media screen and (max-width: 600px) {

    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}


ul.topnav li a .img {
    width: 20px;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .main {
        width: 100%;
        height: auto;
    }
}



.img{
    
    width: 100%;
    height: 100%;
    object-fit: cover; 
}